@model IEnumerable<vente_en_ligne.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proprietaires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategorieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proprietaires.INterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPr">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPr">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
